/* Wrapper full screen + background giữ nguyên */
.greenwich-login-page {
    background-image: url("https://s3-alpha-sig.figma.com/img/1cd9/c961/10bf2fa8ce14bc40aa2442229c96482b?Expires=1744588800&Key-Pair-Id=APKAQ4GOSFWCW27IBOMQ&Signature=St8hkgs3Hi7zykGuTJfMqbgwvc-vU6hIbjwGZ1jjnGcSFdjBcuG6BKZEeAW32YBQOgAmtdFDAAo3qeyHW8mhUBtPr3HVUW3QZIwHJkLkumRd-S141ktByaHoBnlxCX~WSkNGkbMir~MYDAt3yG8WVXNuydKh5wlpPyVfQGhMjZBncF0vMeOEJzf9mXulNJuPl2uu6OukrZGcz4rPJPymLP~AduuSkfzcTxYm9drG7ucCz8zcwA8tWAfH~SU72s3tnjamSyLmbzpI4spTOKtJItc7Zjyd1aSel-ivWON1hRRHG~eizO6zqjtQErDN-C42tZ4x1Mj3elYC2bO0cqDM2w__");
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.greenwich-login-overlay {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 600px;
    padding: 20px;
}

.greenwich-login-logo {
    width: 550px;
    margin-bottom: 40px;
}

.greenwich-login-box {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 50px 35px;
    border-radius: 20px;
    width: 100%;
    max-width: 450px;
    box-shadow: 0 4px 25px rgba(0, 0, 0, 0.129);
}

.greenwich-login-field {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(255, 255, 255, 0.95);
    border-radius: 20px;
    padding: 10px 12px;
    margin-bottom: 20px;
    width: 100%;
    box-sizing: border-box;
}

.greenwich-login-field span {
    font-weight: bold;
    color: #000;
    font-size: 15px;
    margin-right: 15px;
    white-space: nowrap;
    flex-shrink: 0;
}

.greenwich-login-field input {
    border: none;
    outline: none;
    background: transparent;
    font-size: 15px;
    color: #333;
    flex: 1;
    padding-bottom: 2px;
    
}

/* Nút đăng nhập */
.greenwich-login-box button {
    width: 100%;
    padding: 16px;
    background-color: #3c1e70;
    color: white;
    font-weight: bold;
    font-size: 18px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

.greenwich-login-box button:hover {
    background-color: #2a1250;
}
